/protocol/
/target/
**/*.lock
/incremental/
/debug/
/.vscode/

echo "/../core/" >> .gitignore
echo "/../dapp/" >> .gitignore
echo "/../flutter/" >> .gitignore
echo "/../fulltimegodev/" >> .gitignore
echo "/../goxchange/" >> .gitignore
echo "/../prometheus/" >> .gitignore
